.left-panel {
    height: 100%;
    width: 25%;
}

.left-panel-light{
    background: #f1f1f1;
}

.left-panel-dark{
    background: #1F2A3C;
    color: #ffffff;
}

.dark-theme{
    background: #34495e;
}

.user-image {
    width: 30%;
}

.selected-option {
    color: #00e0ff;
}

.dark-text {
    color: #ffffff;
}

.dark-theme hr {
    border-color: #34495e;
}